@page "/movie/{imdbId}"
@rendermode InteractiveServer
@using Plat_prog.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthStateProvider
@inject Plat_prog.Services.MovieService MovieService
@inject Plat_prog.Data.AppDbContext Db
@attribute [AllowAnonymous]

<h3>Szczegóły filmu</h3>

@if (movie == null)
{
    <p>Ładowanie...</p>
}
else
{
    <h4>@movie.Title (@movie.Year)</h4>

    <p><b>Opis:</b> @movie.Plot</p>
    <p><b>Reżyser:</b> @movie.Director</p>
    <p><b>Aktorzy:</b> @movie.Actors</p>
    <p><b>Ocena IMDb:</b> @movie.ImdbRating</p>

    <h5>Opinie:</h5>

    @foreach (var review in reviews)
    {
        <div>
            <b>@review.User?.Email</b> | @review.CreatedAt <br />
            @review.Rating <br />
            @review.Content
            @if (isAdmin)
            {
                <button @onclick="() => DeleteReview(review.Id)">Delete</button>
            }
        </div>
        <hr />
    }

    <AuthorizeView>
        <Authorized>
            <h5>Dodaj opinię:</h5>

            <input @bind="newReview.Content" placeholder="Opinia" />
            <input type="number" @bind="newReview.Rating" min="1" max="10" />
            <button @onclick="AddReview">Dodaj</button>
        </Authorized>

        <NotAuthorized>
            <p><b>Zaloguj się, aby dodać opinię.</b>
                <a href="/login">Przejdź do logowania</a>
            </p>
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    [Parameter] public string imdbId { get; set; }

    Movie movie;
    List<Review> reviews = new();
    Review newReview = new();

    bool isAdmin = false;//

    protected override async Task OnInitializedAsync()
    {
        movie = await MovieService.GetMovieDetails(imdbId);
        reviews = Db.Reviews.Where(r => r.ImdbId == imdbId).ToList();
        //
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);

        if (user != null)
        {
            isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
        }
        //
    }

    async Task AddReview()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        if (!authState.User.Identity.IsAuthenticated)
            return;

        var user = await UserManager.GetUserAsync(authState.User);
        if (user == null)
            return;

        newReview.UserId = user.Id;
        newReview.ImdbId = imdbId;
        newReview.CreatedAt = DateTime.Now;

        Db.Reviews.Add(newReview);
        await Db.SaveChangesAsync();

        // odświeżanie listy + doładowanie użytkownika
        reviews = await Db.Reviews
            .Where(r => r.ImdbId == imdbId)
            .Include(r => r.User)
            .OrderByDescending(r => r.CreatedAt)
            .ToListAsync();

        // reset formularza
        newReview = new Review();
    }

    async Task DeleteReview(int id)
    {
        var review = await Db.Reviews.FindAsync(id);

        if (review != null)
        {
            Db.Reviews.Remove(review);
            await Db.SaveChangesAsync();

            reviews = await Db.Reviews
                .Where(r => r.ImdbId == imdbId)
                .Include(r => r.User)
                .ToListAsync();
        }
    }
}
